<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobfinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Employee.EditEmployeeProfileActivity"></activity>
        <activity android:name=".Employee.CreateEmployeeProfileActivity" />
        <activity android:name=".Employer.EditEmployerProfileActivity" />
        <activity android:name=".Employer.CreateEmployerProfileActivity" />
        <activity android:name=".Employer.CreateJobActivity" />
        <activity android:name=".Employer.EditJobActivity" />
        <activity
            android:name=".Employer.EmployerActivity"
            android:label="@string/title_activity_employer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Matches.EmployeeMatches.EmployeeMatchesActivity" />
        <activity android:name=".Matches.EmployerJobMatches.EmployerJobMatchesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChooseLoginRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Employer.JobMainActivity" />
        <activity android:name=".Employee.EmployeeMainActivity" />
    </application>

</manifest>